body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: rgba(210, 200, 190, 0.8);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Вступление */
.container {
    max-width: 44rem;
    margin: auto;
    padding: 1.25rem;
    text-align: center;
}

/* Заголовок */
h1 {
    /* font-family: 'Marck Script', cursive; */
    font-family: 'Great Vibes', cursive;
    font-size: 3.75rem;
    color: #4f4e4e;
    margin-bottom: 0.5rem;
    text-align: center;
}

p {
    font-family: 'Caveat', cursive;
    font-size: 1.7rem;
    margin: 0.5rem 0;
}

.photos img {
    width: 90%;
    max-width: 21.8rem;
    margin: 0.625rem auto;
    border-radius: 0.93rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

iframe.music {
    width: 100%;
    height: 5rem;
    border: none;
    margin: 1.25rem 0;
}

.countdown {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 1, 25rem 0;
    color: #ffffff;
}

iframe.form {
    width: 100%;
    height: 37.5rem;
    border: none;
    margin-top: 1.87rem;
}

.names {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.87rem;
    margin-bottom: 1.25rem;
    flex-wrap: wrap;
}

.name {
    font-family: 'MonteCarlo', cursive;
    font-size: 4rem;
}
/* .name {
    font-family: 'Crimson Pro', cursive;
    font-size: 3rem;
} */

.name1 {
    font-family: 'Edu NSW ACT Cursive', cursive;
    font-size: 3rem;
}

.name2 {
    font-family: 'Caveat', cursive;
    font-size: 3rem;
}
.name3 {
    font-family: 'MonteCarlo', cursive;
    font-size: 3rem;
}
.name4 {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 6rem;
}

.photo {
    max-width: 17.5rem;
    border-radius: 0.94rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
}

.date {
    font-family: 'Caveat', cursive;
    font-size: 3rem;
}

.venue {
    font-size: 1.2rem;
    color: #000000;
    margin-top: 0.31rem;
}

/* Расписание */
.schedule-wrapper {
    /* background: radial-gradient(circle at top, #e1cfa4, rgba(210, 200, 190, 0.8)); */
    padding: 1.125rem;
    border-radius: 1.56rem;
    margin: 0.93rem auto;
    max-width: 31.25rem;
    position: relative;
    animation: pulse 5s infinite ease-in-out;
    text-align: center;
}

.schedule-wrapper h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    margin-bottom: 0.93rem;
    color: #000000;
}

.schedule-wrapper p {
    font-size: 1.2rem;
    margin: 0.625rem 0;
}

@keyframes pulse {

    0%,
    100% {
        box-shadow: 0 0 1.25rem rgba(214, 164, 222, 0.2);
    }

    50% {
        box-shadow: 0 0 2.5rem rgba(214, 164, 222, 0.4);
    }
}

@media (max-width: 30rem) {
    h1 {
        font-size: 2.75rem;
    }

    /* 
    .countdown {
        font-size: 1.2rem;
    } */

    .schedule-wrapper {
        padding: 1.25rem;
    }
}

.glitter-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    overflow: hidden;
}

.glitter {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background: radial-gradient(circle, #ffffff 30%, #ff99ff 50%, #ffcc00 100%);
    border-radius: 50%;
    box-shadow: 0 0 0.5rem #fff8cc, 0 0 0.75rem #ff99ff;
    animation: fall 3s linear infinite;
    opacity: 0.9;
    mix-blend-mode: screen;
}

@keyframes fall {
    to {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

.mosaic {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
    gap: 0.8rem;
}

.mosaic-img {
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
    box-shadow: 0 0.187rem 0.375rem rgba(0, 0, 0, 0.1);
}

.calendar-img {
    width: 30%;
    height: auto;
    border-radius: 0.75rem;
    box-shadow: 0 0.187rem 0.375rem rgba(0, 0, 0, 0.1);
}

.cover-img {
    width: 100%;
    max-height: 25rem;
    object-fit: cover;
    border-radius: 1.25rem;
}

.cover-title {
    text-align: center;
    font-size: 3.1rem;
    font-weight: 100;
    color: #676365;
    margin-top: 1rem;
    font-family: 'Dancing Script', cursive;
}

#unlock-btn {
    display: block;
    margin: 1.5rem auto;
    font-size: 1.5rem;
    background: linear-gradient(135deg, rgba(198, 187, 176, 0.8), #9c9680);
    border-color: #aca388;
    cursor: pointer;
    box-shadow: 0 0.31rem 0.93rem rgba(0, 0, 0, 0.1);
    text-align: center;
}

#invitation {
    padding: 2rem;
    animation: fadeIn 2s ease forwards;
    opacity: 0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.unlock-container {
    text-align: center;
}

.round-button {
    width: 3.75rem;
    height: 3.75rem;
    font-size: 2rem;
    background: linear-gradient(70deg, rgba(210, 200, 190, 0.8), #d4c486);
    border-radius: 125%;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-align: center;
}

.round-button:hover {
    transform: scale(1.1);
}

.label {
    text-align: center;
    font-size: 1.2rem;
    left: 0;
}

.main-title {
    text-align: center;
    margin-top: 0.625rem;
    font-size: 1.2rem;
    left: 0;
}

/* Включение и выключение звука */
.sound-text-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* расстояние между кнопкой и текстом */
    margin: 1.25rem;
}

#toggleMusic {
    top: 1.25rem;
    right: 1.25rem;
    background-color: transparent;
    border: none;
    z-index: 1000;
    left: 0;
}

.withLove {
    font-size: 1.125rem;
    color: #5e4334;
    font-family: 'Segoe UI', sans-serif;
}

#musicIcon {
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s ease;
}

#toggleMusic:hover #musicIcon {
    transform: scale(1.1);
}

/* Календарь */
.calendar {
    max-width: 18.75rem;
    margin: 2.5rem auto;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    color: #5c5c5c;
}

.month {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
    font-weight: bold;
    color: #000000;
}

.days,
.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.375rem;
    font-size: 0.875rem;
    font-weight: 700;
}

.dates span,
.days span {
    padding: 0.375rem;
    border-radius: 0.375rem;
}

.dates span.highlight {
    background-color: #ffe6f0;
    color: #d44c6f;
    font-weight: bold;
}

.dates span.empty {
    visibility: hidden;
}

.heart {
    background-color: #fbe3e6;
    color: #c2445c;
    position: relative;
}

.heart::after {
    content: "❤";
    position: absolute;
    top: -0.25rem;
    right: -0.3125rem;
    font-size: 0.8125rem;
}



/* Галерея */
.gallery {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 1.25rem;
    scrollbar-width: thin;
    /* Firefox */
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.gallery::-webkit-scrollbar {
    height: 0.65rem;
    /* Chrome, Safari */
}
  
.gallery::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0.25rem;
  }
  
  .gallery::-webkit-scrollbar-thumb {
    background-color: #747373;
    border-radius: 0.25rem;
    border: 0.125rem solid rgba(210, 200, 190, 0.8);
  }

/* Фото */
.gallery img {
    flex-shrink: 0;
    width: 80vw;
    max-width: 31.25rem;
    height: auto;
    border-radius: 0.75rem;
    box-shadow: 0 0.187rem 0.375rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.03);
}

/* Timing */

.timeline {
    position: relative;
    margin: 3.75rem auto;
    padding: 1.25rem;
    width: 90%;
    max-width: 43.75rem;
  }
  
  .timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 0.25rem;
    background: #c4a7e7;
    transform: translateX(-50%);
  }
  
  .timeline-item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2.5rem 0;
    opacity: 0;
    transform: translateY(1.875rem);
    transition: all 0.8s ease;
  }
  
  .timeline-item.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .timeline-dot {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1rem;
    height: 1rem;
    background: #c4a7e7;
    border-radius: 50%;
    z-index: 2;
  }
  
  .timeline-content {
    display: absolute;
    align-items: center;
    background: rgba(221, 214, 202, 0.95);
    padding: 0.937rem 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0,0,0,0.1);
    width: 50%;
    margin-left: 3.75rem;
  }
  
  .timeline-item:nth-child(even) .timeline-content {
    margin-left: auto;
    margin-right: -0.75rem;
  }

  .timeline-item:nth-child(odd) .timeline-content {
    margin-left: -0.75rem;
    margin-right: auto;
  }
  
  .timeline-content img {
    width: 3.125rem;
    height: 3.125rem;
    margin-right: 0.312rem;
  }
  
  .timeline-content .text h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #5a3d8c;
  }
  
  .timeline-content .text p {
    margin: 0.312rem 0 0;
    color: #333;
  }
